*{
	margin: 0;
}
body{
	 
}
.headerhe{
	position: fixed;
    left: 0;
    top:0;
    z-index: 99;
    width: 100%;
}
.headerni{
	height: 50px;
	background-color: #01123d ;
	padding: 8px 16px;
}
.header-button{
	 overflow: auto;
}
.sidebar{
	background-color: #a44141;
	padding: 0;
	height: 100%;
	 
	 
}
.nav-ni{
	overflow-x: hidden;
	top: 0;
 	left: 0;
   	overflow-y: hidden;
 	padding: 0;
 	 height: 100%;

}
.nav-ul{
	list-style-type: none;
	margin: 0;
	padding: 0; 		

	background-color: red;

}
.nav-ul > li{
	padding: 0;
	width: 100%;
}

.nav-ul > li > a {
	 background-color: #f1f1f1;
	 text-decoration: none;
	 font-family: "Comic Sans MS", cursive, sans-serif;
	 padding: 8px 16px;

	 }
.content{
	height: 100%;
	padding: 0;

	 

}
.navni{
	 
	width: 160px;
}
li a {
    display: block;
    color: #000;
    
    text-decoration: none;
    

}
li > a:hover {
	text-decoration: none;
}
li a.active {
    background-color:#3f5c80;
    color: white;
}
.list-group-item > li > a:onclick{
    text-decoration-style: none;
    text-decoration: none;
}
.list-group-item:hover:not(.active) {
    background-color: #f1f1f1;
    color: white;
}
.list-group-item:hover:not > a(.active) {
    
    color: white;
}
.form-ni{
	margin-left: 100px;
	margin-top: 80px;
}
.col-1{width: 8.3333%;height: 100%;}
.col-2{width: 16.6666%;height: 100%;}
.col-3{width: 25%;height: 100%;}
.col-4{width: 33.3333%;height: 100%;}
.col-5{width: 41.6666%;height: 100%;}
.col-6{width: 50%;height: 100%;}
.col-7{width: 58.3333%;height: 100%;}
.col-8{width: 66.6666%;height: 100%;}
.col-9{width: 75%;height: 100%;}
.col-10{width: 83.3333%;height: 100%;}
.col-11{width: 91.6666%;height: 100%;}
.col-12{width: 100%;height: 100%;}

.row-1{height: 8.3333%;width: 100%;}
.row-2{height: 16.6666%;width: 100%;}
.row-3{height: 25%;width: 100%;}
.row-4{height: 33.3333%;width: 100%;}
.row-5{height: 41.6666%;width: 100%;}
.row-6{height: 50%;width: 100%;}
.row-7{height: 58.3333%;width: 100%;}
.row-8{height: 66.6666%;width: 100%;}
.row-9{height: 75%;width: 100%;}
.row-10{height: 83.3333%;width: 100%;}
.row-11{height: 91.6666%;width: 100%;}
.row-12{height: 100%;width: 100%;}

.row-1, .row-2, .row-3, .row-4, .row-5, .row-6, .row-7, .row-8, .row-9, .row-10, .row-11, .row-12{
    position: relative;
    float: left;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
    position: relative;
    float: left;
}
.ha{ }
.he{background-color: #f1f1f1 }

html,body{
	width: 100%;
	height:100%;
	font-family: masaya !important;
  	font-weight: bold;
}
@font-face{
  font-family: masaya;
  src: url(../fonts/Quicksand-Regular.otf);
}
.navbar{
	border-radius: 0;
	 border: none;
}

.nav-btn{
	padding-top: 8px;padding-right: 10px;
}
td:last-child{
	width: 285px;
}
td>a>button{
	width:122px;
	float: left;
	margin-left: 5px;
}
.btn-add{
	width: 250px;
	margin-top: 5px;
}
 
.btn-view-department{
	width: auto;
}
.panel-group > .panel {
	 
	 
}
.panel-group{
	margin-bottom: 0;
}
a{
	text-decoration: none;
}
.list-group{

}
ul>.hnav{
	text-align: center;
	display: block;
	margin-top: 20px;
	padding: 5px;

}

.nul{
	margin-top: 20px;
}
.panel-default > .panel-heading {
	background-color: #343a40;
	color:white;
}
.panel{
	border-radius: 1px;
}
.haha{

}