.index-body{
	margin-top: 200px;
}
.form-width{
    width: 20%;
    margin: 0 auto;
}
.form-staff-width{
    width:40%;
    margin-left: 60px;
}
.admin-body{
	overflow-x: hidden;
}
 
.admin-header-ID{
	width: 30px;
	overflow: ;
}
.admin-header-button{
	float: right;
	overflow: visible;
}
